
@{
    ViewBag.Title = "AvanceTarjeta";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Avance Tarjeta</h2>


<form class="user" method="post">
    <div class="form-group">
        <input name="monto" type="number" class="form-control form-control-user" id="exampleInputEmail"
               placeholder="Monto que desea avanzar">
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Avanzar</button>

</form>