@model IEnumerable<Entidades.ConsultaCahorros_Result>
@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Balance</h2>



@foreach (var Cuenta in Model)
{
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        @Cuenta.Cuenta
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">$@Cuenta.Monto</div>
                </div>
                <div>
                    @Html.ActionLink("Transaccion", "Retitocuenta", new { id = Cuenta.Cuenta });

                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
}