
@{
    ViewBag.Title = "Cahorros";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h1>Solicitud de cuenta de ahorros</h1>

<br />
<h2>Escribe que monto deseas introducir en tu nueva vuenta</h2>
<form class="user" method="post">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input name="monto" type="number" class="form-control form-control-user" id="exampleFirstName"
                   placeholder="Monto">
        </div>
    </div>
    

    <button type="submit" class="btn btn-primary btn-user btn-block">Crear</button>
</form>

