
@{
    ViewBag.Title = "PagoTarjeta";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Pago Tarjeta</h2>

<form class="user" method="post">
    <div class="form-group">
        <input name="monto" type="number" class="form-control form-control-user" id="exampleInputEmail"
               placeholder="Monto que desea Pagar">
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Pagar</button>

</form>
