@model List<Entidades.Cliente>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Tabla Clientes</h2>




<div class="container-fluid">

    <!-- Page Heading -->
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @*@foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.Nombre</td>
                                <td>@customer.Correo</td>
                                <td>@customer.Passw</td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

